{
    "presets": [
        ["env", {
            "targets": {
              "node": "9.4.0",
              "browsers": ["last 2 versions"]
            }
        }]
    ],
    "plugins": ["transform-object-rest-spread"]
}